.btm-nav {
    position: relative !important;
}

[data-theme="rugbyWorldCup2023"] .btn-primary {
    color: white;
}

[data-theme="rugbyWorldCup2023"] .btm-nav > *:where(.active) {
    border-color: #ff3000
}

[data-theme="rugbyWorldCup2023"] .tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
    background-color: #ff3000;
}

[data-theme="cricketWorldCup2023"] .btm-nav > *:where(.active) {
    border-color: #ff00a5
}

[data-theme="cricketWorldCup2023"] .tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
    background-color: #ff00a5;
}

.mw-3 {
    min-width: 2.8rem;
}

.w-45p {
    width: 45%;
}